@model FrontEnd.Models.UsuarioViewModel
@{

    Layout = "~/Views/Shared/LoginPage.cshtml";
}


    @section login
        {
            <div class="limiter">
                <div class="container-login100">
                    <div class="wrap-login100 p-t-85 p-b-20">
                        <section id="loginForm">
                            @using (Html.BeginForm("Autherize", "Login", FormMethod.Post))
                            {

                                <span class="login100-form-avatar">
                                    <img src="">
                                </span>

                                <div class="wrap-input100 validate-input m-t-85 m-b-35" data-validate="Debe ingresar un usuario válido">
                                    @Html.TextBoxFor(model => model.NombreUsuario, new { @class = "input100" })
                                    <span class="focus-input100" data-placeholder="Usuario">
                                        @Html.ValidationMessageFor(model => model.NombreUsuario, "", new { @class = "text-danger" })
                                    </span>
                                </div>

                                <div class="wrap-input100 validate-input m-b-50" data-validate="Debe ingresar su contraseña">
                                    @Html.PasswordFor(model => model.Clave, new { @class = "input100" })
                                    <span class="focus-input100" data-placeholder="Contraseña">
                                        @Html.ValidationMessageFor(model => model.Clave, "", new { @class = "text-danger" })
                                    </span>
                                </div>

                                <div class="container-login100-form-btn">
                                    <button class="login100-form-btn">
                                        Ingresar
                                    </button>
                                </div>
                            }
                        </section>
                    </div>

                </div>
            </div>

        }
